*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --color-orange: hsla(21, 57%, 50%, 1);
    --color-white: hsla(25, 15%, 100%, 1);
    --color-black: hsla(25, 15%, 6%, 1);
    --color-grey: hsla(21, 4%, 50%, 1);
    --overlay-color: rgba(0,0,0, 0.3);
}

/* body */

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    color: var(--color-white);
    font-size: 1.1rem;
    background-color: var(--color-white);
}
p {
    color: var(--color-black);
}
 h1,h2 {
     color: var(--color-black);
     font-size: 3rem;
 }
/* navbar */

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    background-color: var(--color-grey);
}

.navbar .nav {
    align-items: bottom;
    display: flex;
    list-style: none;
    justify-content: center;
}

.navbar .nav a {
    text-decoration: none;
    color: var(--color-black);
    text-transform: uppercase;
    padding: 0 1rem;
}

.navbar .nav a:hover {
    color: var(--color-orange);
    font-weight: bold;
}

/* footer */ 

.footer {
    background-color: var(--color-grey);
    display: grid;
    grid-template-columns: repeat(20, 1fr);
}

.footerlink {
    padding: 1rem auto;
    margin: 1rem auto;
}

.twitter {
    width: 32px;
    height: 32px;
    padding: 0;
    margin: 0;
}
/* button */ 

.btn {
    display: inline-block;
    background: var(--color-black);
    color: var(--color-white);
    padding: 1rem 1.5rem;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 30px;
    text-decoration: none;
}

.btn:hover {
    background: var(--color-orange);
}
/* home main */

.main {
    padding: 30rem 20rem 30rem 50rem;

}

/* projects main */ 

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 1rem;
}

.projectsp {
    text-align: center;
    padding: 2.5rem;
}
